files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Restart the application
      sudo /bin/systemctl restart web.service

commands:
  01_install_certbot:
    command: |
      if [ ! -f /usr/bin/certbot ]; then
        sudo yum update -y
        sudo yum install -y certbot python3-certbot-nginx
      fi

container_commands:
  01_migrate:
    command: "npm run migrate"
    leader_only: true
  02_seed_data:
    command: "npm run seed"
    leader_only: true